body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
}

.title-text {
  padding-top: 40px;
  padding-bottom: 20px;
}

.addresstext {
  margin-left: 90px;
  padding-top: 40px;
  text-shadow: 0px 1px, 1px 0px, 1px 0px;

}

input {
  width: 80%;
  margin-left: 90px;
  padding: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 90px;
  margin-right: 120px;
  margin-bottom: 60px;
}

.interest-text {
  padding-top: 30px;
  margin-left: 90px;
  text-shadow: 0px 1px, 1px 0px, 1px 0px;

}

.interest-heading {
  color: red;
}

.interest-word {
  padding-left: 0px;
}

.interest-box1,
.interest-box2,
.interest-box3,
.interest-box4 {
  border: 1px solid;
  border-color: #f3eaea;
  width: 20%;
  height: 30%;
  padding-left: 20px;
  padding-top: 15px;
}

.serve-text {
  padding-top: 30px;
  margin-left: 40%;
  text-shadow: 0px 1px, 1px 0px, 1px 0px;

}

.contact-icon {
  display: flex;
  gap: 40px;
  margin-left: 45%;
}

.contact-text {
  padding-top: 50px;
  font-weight: 900px;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-left: 50px;
  margin-right: 120px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.cart-text {
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
  margin-left: 150px;
}

.cartsection {
  display: flex;
  margin-left: 120px;
  flex-direction: row;
}

.carthome {
  color: rgb(184, 184, 179);
  margin-right: 10px;
}

.cartbold {
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
}

.image-container {
  margin-top: 20px;
}

.serve-image {
  max-width: 4.5rem;
  padding-top: 0%;
}

.serve-container {
  display: flex;
  margin-left: 100px;
  align-items: center;
}

.serve-word {
  padding-left: 0px;
}

.deletebtn {
  border: none;
  background-color: white;
  color: white;
  cursor: pointer;
}

.deletebtn:hover {
  background: rgb(245, 241, 241);
}

.addcontainer {
  margin-left: 10px;
}

.add-number {
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.addbtn {
  display: flex;
  margin-left: 10px;

  height: 30px;
}

.close-btn {
  border: none;
  background-color: white;
  color: white;
  cursor: pointer;
}

.close-btn:hover {
  background: rgb(245, 241, 241);
}

h5 {
  margin-bottom: 0px;
  padding-left: 25px;
}

.total-container {
  margin-left: 60%;
  padding-bottom: 0px;
}

.totalnumber {
  margin-right: 150px;
}

hr {
  margin-left: 100px;
  margin-right: 210px;
}

h2 {
  display: inline-block;
  margin-left: 150px;
  font-weight: 900;
}

.total1 {
  margin-right: 52%;
}

.delivery-container {
  display: flex;
  margin-left: 150px;
  margin-top: 20px;
}

.delivery-number {
  margin-left: 64%;
}
.btn {
  margin-left: 30%;
  width: 20%;
  background-color: rgb(124, 25, 25);
  padding: 10px;
  color: #ffffff;
  padding: 10px 254px;
  border: none;
  font-size: 12px;
  margin-top: 20px;
}

.calculate-container  {
  margin-bottom: 40px;
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
}